---
Checks: <
  abseil-*
  
  altera-struct-pack-align
  
  boost-*
  
  bugprone-*
  -bugprone-exception-escape
  -bugprone-easily-swappable-parameters
  
  cert-*
  concurrency-*
  
  cppcoreguidelines-*
  -cppcoreguidelines-avoid-do-while
  -cppcoreguidelines-pro-bounds-pointer-arithmetic
  -cppcoreguidelines-non-private-member-variables-in-classes
  -cppcoreguidelines-pro-type-reinterpret-cast
  
  fuchsia-*
  -fuchsia-default-arguments-calls
  -fuchsia-overloaded-operator
  
  google-*
  -google-explicit-constructor
  -google-readability-namespace-comments
  
  hicpp-*
  -hicpp-explicit-conversions
  
  llvm-*
  -llvm-header-guard
  -llvm-namespace-comment
  -llvm-else-after-return
  
  misc-*
  -misc-include-cleaner
  -misc-non-private-member-variables-in-classes
  
  modernize-*
  -modernize-use-trailing-return-type
  
  performance-*
  portability-*

  readability-*
  -readability-else-after-return

CheckOptions:
  - key: readability-identifier-naming.MacroDefinitionCase
    value: UPPER_CASE

  - key: readability-identifier-naming.NamespaceCase
    value: lower_case

  - key: readability-identifier-naming.ClassCase
    value: CamelCase

  - key: readability-identifier-naming.EnumCase
    value: CamelCase

  - key: readability-identifier-naming.UnionCase
    value: CamelCase

  - key: readability-identifier-naming.TypedefCase
    value: CamelCase

  - key: readability-identifier-naming.MemberCase
    value: lower_case

  - key: readability-identifier-naming.MemberSuffix
    value: _

  - key: readability-identifier-naming.EnumConstantCase
    value: UPPER_CASE

  - key: readability-identifier-naming.FunctionCase
    value: CamelCase

  - key: readability-identifier-naming.MethodCase
    value: CamelCase

  - key: readability-identifier-naming.ParameterCase
    value: lower_case

  - key: readability-identifier-naming.VariableCase
    value: lower_case

  - key: readability-identifier-naming.ConstantCase
    value: CamelCase

  - key: readability-identifier-naming.ConstantPrefix
    value: k